@font-face {
    font-family: "Manrope";
    src: url("./fonts/Manrope-VariableFont_wght.ttf");
}

body {
    background-color: #131313;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#headerBackgroundVideo {
    width: 100%;
    margin: -200px 0 0 0;
    position: absolute;
    z-index: -1;
}

@keyframes kostyli {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(12deg);}
    1000% {transform: rotate(0deg);}
}

#headerBackgroundImage {
    transform: rotate(0deg);
    position: absolute;
    z-index: -1;
    height: 400px;
    margin: -50px 0 0 50px;
    animation-name: kostyli;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 4s;
}

.row {
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    font-family: "Manrope";
    font-weight: 800;
    font-size: 65px;
    line-height: 70px;
    padding-bottom: 10px;
    border-bottom: 4px solid #a723ff;
    height: 200px;
}

#title {
    margin: 0 0 0 20px;
    display: table;
    text-wrap: nowrap;
}

#title span {
    display: table-cell;
    vertical-align: middle;
}

#menu {
    display: flex;
    font-size: 30px;
    flex-direction: row;
}

#menu .menu-text {
    margin: 18px 0 0 0;
}

.menu-item {
    padding: 1vw 1vw 0 2vw;
    text-decoration: underline 4px;
    text-decoration-color: transparent;
    text-underline-offset: 3px;  
    animation-duration: 0.5s;
    text-wrap: nowrap;
}

@keyframes menuUnderlineShow {
    from {text-decoration-color: transparent;}
    to {text-decoration-color: #a723ff;}
}

@keyframes menuUnderlineHide {
    from {text-decoration-color: #a723ff;}
    to {text-decoration-color: transparent;}
}

a {
    color: #ffffff;
    text-decoration: none;
}

#menuMobile {
    display: none;
}

.dropdown-btn .dropdown-menu {
    border-radius: 0;
    margin: -10px 0 0 25px;
    padding: 0;
    display: none;
    background-color: #a723ff;
    font-size: 30px;
}

.dropdown-btn:hover .dropdown-menu {
    display: block;
}

.dropdown-btn .dropdown-content {
    color: #ffffff;
    padding: 20px 5px;
    line-height: 0px;
    height: 30px;
}

main {
    display: flex;
    flex-direction: column;
    align-content: start;
    align-items: center;
    padding-top: 10px;
    background-color: #131313; 
}

.gallery {
    width: calc(100vw - 70px);
}

.gallery .galleryPhoto {
    width: 10vw;
}

.gallery img {
    width: 33vw;
    justify-self: center;
}

.formButton {
    width: 40vw;
    height: calc(40vw / 3.1);
    cursor:pointer;
    background-image: url("./images/body_buttonFightNotAvaliable.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #131313;
}

.formButton:hover {
    background-image: url("./images/body_buttonFightAvaliable.png");
}

footer {
    border-top: 4px solid #a723ff;
    position: relative;
    display: flex;
}

#footerContent {
    margin: 0 0 0 5vw;
}

.footerText {
    font-size: 40px;    
    font-weight: 650;
}

#footerBackground {
    position: relative;
    z-index: -1;
}

.footerButtonImage {
    position: absolute;
    width: 40px;
}

.card {
    background-color: #1e1e1e; /* Темный фон */ze: 1.2rem;
    border: none; /* Убираем границы */
    border-radius: 10px; /* Закругленные углы */ный цвет текста */
    box-shadow: none; /* Убираем тени */ackground: none; /* Убираем фон */
}    padding: 0; /* Убираем отступы */
аем внешние отступы */
.card-body {
    padding: 20px;
    background: none; /* Убираем фон */
}argin-bottom: 1rem; /* Убираем лишние отступы */
    background: none; /* Убираем фон */
@media only screen and (max-width: 1200px) {/* Убираем внутренние отступы */
    #menu {
        flex-direction: column;
        margin: 0 10px 0 0;px) {
    }

    #menu .menu-text {   margin: 0 10px 0 0;
        margin: 0;    }
        height: 60px;
        justify-content: center;
    }   margin: 0;
        height: 60px;
    .menu-item {
        padding: 0;
        font-size: 30px;
        text-decoration: underline 3px;
        text-decoration-color: transparent;
        text-underline-offset: 0.35vw;
    } underline 3px;
on-color: transparent;
    #menuMobile {   text-underline-offset: 0.35vw;
        display: none;}
    }

    .dropdown-btn .dropdown-menu {   display: none;
        border-radius: 0;}
        margin: -20px 0 0 0;
        padding: 0;down-menu {
        display: none;
        background-color: #a723ff; 0;
        font-size: 30px;
        border: none;   display: none;
    }    background-color: #a723ff;
    : 30px;
    .dropdown-btn:hover .dropdown-menu {
        display: block;
    }
        .dropdown-btn:hover .dropdown-menu {
    .dropdown-btn .dropdown-content {block;
        color: #ffffff;
        padding: 20px 5px;
        line-height: 0px;dropdown-btn .dropdown-content {
        height: 30px;        color: #ffffff;
    }x;
    
    #formButton {
        cursor:pointer;
        width: 300px;   
    }    #formButton {

    .footerText {
        font-size: 30px;    
        font-weight: 650;
    }
0px;    
    .footerButtonImage {   font-weight: 650;
        position: absolute;    }
        width: 3.3vw;
    }e {
}
   width: 3.3vw;
@media only screen and (max-width: 900px) {    }
    #headerBackgroundVideo {
        width: 100%;
        margin: 0;h: 900px) {
        position: absolute;o {
        z-index: -1;
    }
olute;
    #headerBackgroundImage {
        height: 30vw;
        margin: 0 0 0 20vw;
    }headerBackgroundImage {
    height: 30vw;
    header {        in: 0 0 0 20vw;
        align-items: center;
        justify-content: center;
        font-weight: 800;
        font-size: 8vw;   align-items: center;
        line-height: 6vw;    justify-content: center;
        height: 20vw;ht: 800;
        display: flex;
        flex-direction: column;
        border-bottom: none;   height: 20vw;
    }        display: flex;
    ction: column;
    #title { none;
        margin: 0 0 0 20px;
        display: table;
        text-wrap: nowrap;
    }x;
    
    #title span {;
        display: table-cell;
        vertical-align: middle;
    }
   display: table-cell;
    #menuMobile {        vertical-align: middle;
        display: flex;
        align-content: center;
        width: 100%;menuMobile {
        margin: 0 -3vw 0 0;    display: flex;
        font-weight: 700;t: center;
        list-style-type: none;%;
        line-height: 4vw;0 -3vw 0 0;
        font-size: 4.3vw;: 700;
        background-color: #a723ff;   list-style-type: none;
        justify-content: start;        line-height: 4vw;
    }.3vw;
ff;
    #menuMobileItem {: start;
        padding: 0;
    }
        #menuMobileItem {
    #menuMobile ul {
        margin: 0;
        flex: 1;
        padding: 0;
    }   margin: 0;
        flex: 1;
    #menuMobile li {ding: 0;
        vertical-align: middle;
        padding: 0.5vw;
        list-style-type: none;    #menuMobile li {
    }rtical-align: middle;
;
    #menuMobile p {
        display: table-cell;
        vertical-align: middle;
        padding: 0 0 5px 0;
    }   display: table-cell;
        vertical-align: middle;
    #menu {g: 0 0 5px 0;
        display: none;
    }
#menu {
    main {
        display: flex;
        flex-direction: column;
        background-color: #131313; main {
        padding-top: 10px;lex;
        justify-content: center;on: column;
    }1313; 
   padding-top: 10px;
    .gallery {    justify-content: center;
        width: calc(100vw - 70px);
    }
    
    .gallery .galleryPhoto {   width: calc(100vw - 70px);
        width: 10vw;    }
    }
    {
    .gallery img {
        width: 70vw;
        justify-self: center;   












}    }        font-weight: 650;        font-size: 4vw;        .footerText {    }        width: 200px;        cursor:pointer;    #formButton {        }    .gallery img {
        width: 70vw;
        justify-self: center;
    }
    
    #formButton {
        cursor:pointer;
        width: 200px;
    }

    .footerText {
        font-size: 4vw;    
        font-weight: 650;
    }
}